{% extends "master.html.twig" %}

{% block title %}Property delete{% endblock %}

{% block content %}    
    <html>
        <body>
            <div class="container">
                <div class="well">
                    <h1 style="text-align:center;">Property deleted.</h1>
             <p> <a href="/property/list">Click to continue</a>.</p>
                </div>
            </div>
        </body>
    </html>
    
{% endblock %}


    