{% extends "master.html.twig" %}

{% block title %}Property {% if isEditing %}update{% else %}add{% endif %}{% endblock %}

{% block content %}    
    <p>Property {% if isEditing %}updated{% else %}added{% endif %}.
        <a href="/property/list">Click to continue</a>.</p>
{% endblock %}
