{% extends "master.html.twig" %}

{% block title %}Product add successful{% endblock %}

{% block content %}

    Product addedd. <img src="/{{imagePath}}" width="150"><br>
    <a href="/admin/product/list">Click to continue</a>
{% endblock %}