{% extends "master.html.twig" %}

{% block title %}Product deletion successful{% endblock %}

{% block content %}

    Product deleted. <a href="/admin/product/list">Click to continue</a>
    
{% endblock %}