{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}
    
    <html>
        <body>
            <div class="container">
                <div class="well">
                    <h1 style="text-align:center;" >Login successful</h1>
                    
                    <br>
                    <p style="text-align:center;" ><a href="/property/list">property List</a></p>
                    <p style="text-align:center;" ><a href="/property/add">click to add property</a></p>
                </div>
            </div>
        </body>
    </html>
{% endblock %}






