{% extends "master.html.twig" %}


{% block title %}Login{% endblock %}

{% block content %}

    {% if error %}
        <p>Login invalid. Try again or <a href="/register">register</a>.</p>
    {% endif %}


    <html>
        <body>
            <div class="container">
                <div class="well">
                    <h1 style="text-align:center;">Login</h1>
                    <form method="post" style="text-align:center;">
                        <div> <label>Username</label>
                            <input type="text"  name="username"  placeholder="Enter username"  style="width: 30%;" > </div>
                        <div> <label>Password</label>
                            <input type="password" name="pass" " placeholder="Password"  style="width: 30%;" > </div>
                        <button type="submit">Login</button>
                    </form>
                    <br>
                    <p style="text-align:center;" >Forgot Password?<br> <a id="click" href="/password/request"><b><u>Click here</u></b></a></p>
                    <style> 
                        #click {
                            color:red;
                        }
                    </style>
                </div>
            </div>

        </body>
    </html>
{% endblock %}
