{% extends "master.html.twig" %}

{% block title %}
    Register success
{% endblock %}

{% block content %}
<html>
        <body>
            <div class="container">
                <div class="well">
                    <h1 style="text-align:center;" >You've been registered. You may now</h1>
                    
                    <br>
                    <p style="text-align:center;" ><a href="./login">click to continue</a></p>
                </div>
            </div>
        </body>
    </html>
    
{% endblock %}